.img{
  float: left;
  width: 33%;
}

img {
  width: 400px;
  height: 300px;
  padding-left: 30px;
}

.text {
  float: left;
  width: 33%;
  text-align: center;
}

.sidebar {
  float: right;
  width: 30%;
  border: 2px solid green;
  text-align: center;
  padding-bottom: 200px;
  background-color: lightgreen;
  margin-right: 20px;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  text-shadow: 10px 10px 20px grey;
  text-decoration: underline;
}

.block {
margin-top: 50px;
}
